<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwq.dataloom.mapper.CouponTemplateRemindMapper">

    <resultMap id="BaseResultMap" type="com.hwq.dataloom.model.entity.CouponTemplateRemind">
            <id property="userId" column="userId" jdbcType="BIGINT"/>
            <id property="couponTemplateId" column="couponTemplateId" jdbcType="BIGINT"/>
            <result property="information" column="information" jdbcType="BIGINT"/>
            <result property="startTime" column="startTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,couponTemplateId,information,
        startTime
    </sql>
</mapper>
