<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwq.dataloom.mapper.ChartOptionMapper">

    <resultMap id="BaseResultMap" type="com.hwq.dataloom.model.entity.ChartOption">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="dashboardId" column="dashboardId" jdbcType="BIGINT"/>
            <result property="chartName" column="chartName" jdbcType="VARCHAR"/>
            <result property="chartOption" column="chartOption" jdbcType="VARCHAR"/>
            <result property="dataOption" column="chartOption" jdbcType="VARCHAR"/>
            <result property="analysisRes" column="analysisRes" jdbcType="VARCHAR"/>
            <result property="analysisLastFlag" column="analysisLastFlag" jdbcType="BOOLEAN"/>
            <result property="customSql" column="customSql" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dashboardId,chartName,
        chartOption,dataOption,analysisRes,analysisLastFlag,customSql,status,
        createTime,updateTime,isDelete
    </sql>
</mapper>
