<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwq.dataloom.mapper.CoreDatasetTableMapper">

    <resultMap id="BaseResultMap" type="com.hwq.dataloom.model.entity.CoreDatasetTable">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="tableName" column="tableName" jdbcType="VARCHAR"/>
            <result property="datasourceId" column="datasourceId" jdbcType="BIGINT"/>
            <result property="datasetGroupId" column="datasetGroupId" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="info" column="info" jdbcType="VARCHAR"/>
            <result property="sqlVariableDetails" column="sqlVariableDetails" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,tableName,
        datasourceId,datasetGroupId,type,
        info,sqlVariableDetails
    </sql>
</mapper>
