<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwq.dataloom.mapper.CoreDatasetTableMapper">

    <resultMap id="BaseResultMap" type="com.hwq.dataloom.model.entity.CoreDatasetTable">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="table_name" column="table_name" jdbcType="VARCHAR"/>
            <result property="datasource_id" column="datasource_id" jdbcType="BIGINT"/>
            <result property="dataset_group_id" column="dataset_group_id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="info" column="info" jdbcType="VARCHAR"/>
            <result property="sql_variable_details" column="sql_variable_details" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,table_name,
        datasource_id,dataset_group_id,type,
        info,sql_variable_details
    </sql>
</mapper>
