<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwq.dataloom.mapper.CoreDatasetTableFieldMapper">

    <resultMap id="BaseResultMap" type="com.hwq.dataloom.model.entity.CoreDatasetTableField">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="datasourceId" column="datasourceId" jdbcType="BIGINT"/>
            <result property="datasetTableId" column="datasetTableId" jdbcType="BIGINT"/>
            <result property="datasetGroupId" column="datasetGroupId" jdbcType="BIGINT"/>
            <result property="chartId" column="chartId" jdbcType="BIGINT"/>
            <result property="originName" column="originName" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="groupType" column="groupType" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="checked" column="checked" jdbcType="TINYINT"/>
            <result property="columnIndex" column="columnIndex" jdbcType="INTEGER"/>
            <result property="lastSyncTime" column="lastSyncTime" jdbcType="BIGINT"/>
            <result property="isUnique" column="isUnique" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,datasourceId,datasetTableId,
        datasetGroupId,chartId,originName,
        name,description,groupType,
        type,checked,columnIndex,
        lastSyncTime,isUnique
    </sql>
</mapper>
