<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwq.dataloom.mapper.CoreDatasourceTaskMapper">

    <resultMap id="BaseResultMap" type="com.hwq.dataloom.model.entity.CoreDatasourceTask">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="dataSourceId" column="dataSourceId" jdbcType="BIGINT"/>
            <result property="datasetTableId" column="datasetTableId" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="updateType" column="updateType" jdbcType="VARCHAR"/>
            <result property="startTime" column="startTime" jdbcType="BIGINT"/>
            <result property="syncRate" column="syncRate" jdbcType="VARCHAR"/>
            <result property="cron" column="cron" jdbcType="VARCHAR"/>
            <result property="simpleCronValue" column="simpleCronValue" jdbcType="BIGINT"/>
            <result property="simpleCronType" column="simpleCronType" jdbcType="VARCHAR"/>
            <result property="endLimit" column="endLimit" jdbcType="VARCHAR"/>
            <result property="endTime" column="endTime" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="BIGINT"/>
            <result property="lastExecTime" column="lastExecTime" jdbcType="BIGINT"/>
            <result property="lastExecStatus" column="lastExecStatus" jdbcType="VARCHAR"/>
            <result property="extraData" column="extraData" jdbcType="VARCHAR"/>
            <result property="taskStatus" column="taskStatus" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dataSourceId,datasetTableId,
        name,updateType,startTime,
        syncRate,cron,simpleCronValue,
        simpleCronType,endLimit,endTime,
        createTime,lastExecTime,lastExecStatus,
        extraData,taskStatus
    </sql>
</mapper>
